// Color
$grey: #ccc;
$black: #000;
$white: #fff;
$blue: #00f;
$orange: #d8bf02;
$dark-green: #0d5825;
$gray-dark: #7e7e7e;
$green-light: #4def99;
$blue-light: #7e8aeb;
$red-light: #ff8888;

// Font
$base_font: Arial, Helvetica, sans-serif;
$size: 15px;
$weight: 400;

$box-shadow: 0 0 20px $black;
